*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form{
  padding: 40px ;
  max-width:500px;
  margin:80px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  background-color: ghostwhite;
}
.tab-group{
  list-style: none;
  padding: 0px;
  margin: 0 0 20px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a{
  text-decoration: none;
  padding: 20px;
  display: block;
  width: 50%;
  color: black;
  float: left;
  color: #a0b3b0;
  text-align: center;
  background: rgba(160, 179, 176,.25);
  cursor:pointer;
  transition:.5s ease;
}
.tab-group li a:hover {
  background:#148a6a;
  color: #fff;
}
.form .active a {
   background:#1ab188;
   color:#fff;
 }
/* .tab-content > div:last-child {
  display:none;
} */
h1{
  text-align: center;
  font-weight: 300;
  margin: 0 0 20px;
}
label {
  position:absolute;
  transform:translateY(6px);
  left:13px;
  color: rgba(0, 0, 0, 0.5);
  transition:all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:22px;
}
label .req {
  margin:2px;
  color:#000;
}
label.active {
  transform:translateY(50px);
  left:2px;
  font-size:14px;
}
label.active .req{
  opacity:0;
}
label.highlight {
	color:#000;
}
input, textarea {
  font-size:22px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid #a0b3b0;
  color:#000;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus{
  outline:none;
  border-color:#1ab188;
}
#names:focus{
  outline:none;
  border-color:#1ab188;
}
textarea {
  border:2px solid #a0b3b0;
  resize: vertical;
}
.field-wrap {
  position:relative;
  margin-bottom:30px;
}
.top-row:after {
    content: "";
    display: table;
    clear: both;
}
.top-row > div{
    float:left;
    width:48%;
    margin-right:4%;
  }
.top-row > div:last-child {
    margin:0;
  }
.button {
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:2rem;
  font-weight:600;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:#1ab188;
  color:#000;
  transition:all.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background:#148a6a;
}
.button-block {
  display:block;
  width:100%;
}
.forgot {
  margin-top:-20px;
  text-align:right;
}
